@charset "UTF-8";
@font-face {
    font-family: "Bungee";
    src: url("../fonts/Bungee-Regular.ttf") format("truetype");
}

/*==========ESTRUTURA PRINCIPAL==========*/

:root{
    --fonte-principal:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-destaque:'Trebuchet MS', Verdana, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    margin:0;
    padding:0;
}

body{
    background-image:url("../img/foto_background.jpg");
    background-size:cover;
    background-attachment:fixed;
    font-family:var(--fonte-principal);
}

header{
    width:100%;
    height:80px;
    background-color:rgba(0,0,0,0.85);
    color:#FFF;
    text-align:center;
    padding:40px 0;
    font-family:Bungee,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1{
    font-size:1.98em;
}

nav{
    width:100%;
    height:60px;
    margin-top:1px;
    background-color:rgba(0, 0, 0, 0.9);
    text-align:center;
    box-shadow:0 3px 10px 5px rgba(0, 0, 0, 0.5);
}

nav a{
    color:white;
    text-decoration:none;
    font-family: var(--fonte-destaque);
    font-size:17px;
    font-weight:bold;
    display:inline-block;
    padding:20px 2%;
    transition-duration:0.3s;
    margin:0 -3px;
}

nav a:hover{
    background-color:rgba(255,255,255,0.9);
    color:#333;
}

main{
    width:86vw;
    max-width:1280px;
    min-height:90vh;
    margin:0 auto 20px auto;
    background-color:#FFF;
    border-radius:0 0 15px 15px;
    box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding:20px;
}

main h1{
    color:#333;
    border-bottom:1px dotted #333;
    font-size:2.5em;
    padding-bottom:5px;
    margin:50px 0 30px 0;
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
}

main h2{
    font-size:1.5em;
    color:#333;
    margin:30px 0 10px 0;
    font-variant: small-caps;
    background-image:linear-gradient(to right,#DEDEDE,transparent);
    padding:3px 0 3px 5px;
    font-family: var(--fonte-destaque);
}

main p{
    margin:10px 0;
    text-align:justify;
    text-indent: 30px;
    line-height: 2em;
}

main p > code{
    font-size:1.4em;
    font-weight:bold;
}

footer{
    width:100%;
    height:20px;
    background-color:rgba(0,0,0,0.85);
    color:#FFF;
    text-align: center;
    padding:20px 0 20px 0;
    font-weight:bold;
    text-transform: uppercase;
    font-size:0.7em;
    box-shadow:0 -3px 10px 3px rgba(0, 0, 0, 0.5);
}

/*----------QUADRADOS ANIMADOS----------*/
#vermelho{
    width:200px;
    height:200px;
    background-color:#700;
    position:relative;
    transition-duration: 1.5s;
}

#vermelho:hover{
    transform: translate(40vw,0);
    background-color:#F00;
    cursor:pointer;
    border-radius: 20px;
}

#vermelho > div#azul{
    position:absolute;
    width:100px;
    height:100px;
    background-color:#007;
    left:50%;
    transition-duration: 1.5s;
}

#vermelho:hover > div#azul{
    transform: translate(-50%,50%);
    background-color:#00F;
    border-radius: 20px;
}

#vermelho > div#verde{
    position:absolute;
    width:50px;
    height:50px;
    background-color:#070;
    top:150px;
    left:0;
    transition-duration: 1.5s;
}

#vermelho:hover > div#verde{
    transform:translate(150%,-150%);
    background-color:#0F0;
    border-radius: 20px;
}

#fade{
    width:200px;
    height:200px;
    background-color:#077;
    transition-duration: 1s;
}

#fade:hover{
    opacity: 0;
    cursor:pointer;
}

#rotacao{
    width:200px;
    height:200px;
    margin:60px 0;
    background-color:#909;
    transition-duration:2s;
}

#rotacao:hover{
    background-color:#990;
    transform: translate(35vw,0) rotate(720deg);
    cursor:pointer;
}

/*----------TABELAS----------*/
.container_tabela{
    overflow-x: auto;
    margin-bottom:100px;
}

table{
    max-width:100%;
    margin:20px 0;
    border-collapse: collapse;
}

caption{
    background-image:linear-gradient(to bottom, #333, #222);
    color:#FFF;
    padding:10px 0;
    text-align:center;
    font-weight:bold;
    font-variant: small-caps;
    border:1px solid black;
    border-radius:15px 15px 0 0;
}

th, td{
    border:1px solid black;
    padding:10px;
}

th{
    background-color:#555;
    color:#FFF;
    font-weight:bold;
    font-variant: small-caps;
}

tbody tr:nth-child(odd){
    background-color:#DDD;
}

#tabela_filmes tbody tr td:first-child, #tabela_jogos tbody tr td:first-child{
    text-align:center;
}

#tabela_filmes tbody tr td:last-child{
    text-align:right;
}

#tabela_filmes thead th:first-child{
    width:5%;
}

#tabela_jogos thead th:first-child{
    width:5%;
}

/*----------GALERIA----------*/

#galeria{
    text-align: center;
}

#galeria img{
    width:32.5%;
    display:inline-block;
    margin:auto;
    transition-duration:0.3s;
}

#galeria img:hover{
    transform: scale(1.15);
}

iframe{
    border-radius:15px;
    border:5px solid #DDD;
}

iframe > span{
    background-color:#900;
    color:white;
    padding:10px;
    text-align:center;
    width:100%;
}

/*----------FORMULÃRIO----------*/

form{
    border:2px dotted #CCC;
    padding:10px;
}

form label{
    display: block;
    padding:20px 0 5px;
    font-variant: small-caps;
    font-weight: bold;
}

form > fieldset{
    margin:20px 0;
    padding:20px;
    border:1px dotted #333;
}

form > fieldset > legend{
    font-variant: small-caps;
    font-weight: bold;
    background-color:#333;
    padding:5px;
    border:1px dotted #333;
    color:white;
}

input[type=text], input[type=address], input[type=password], input[type=tel]{
    width:40%;
    background-color:#EEE;
    border:1px solid #333;
    padding:10px;
}

input:focus{
    background-color:#FFF;
}

input[type=date], select[name=estado]{
    width:20%;
    border:1px solid #333;
    padding:5px;
    font-weight:bold;
}

input[name=sexo]:last-child{
    margin-left:20px;
}

select[name=pais]{
    display:block;
    width:30%;
    padding:5px;
    background-color:#EEE;
    border-radius:10px;
}

select[name=pais] > option:nth-child(odd){
    background-color:#DDD;
}

input[type=submit], input[type=reset]{
    border:1px solid #333;
    background-color:#555;
    color:#FFF;
    padding:10px;
    font-weight:bold;
    transition-duration:.3s;;
}

input[type=submit]:hover, input[type=reset]:hover{
    cursor:pointer;
    background-color:#EEE;
    color:#333;
}

#out_dificuldade strong{
    padding:3px;
    border:1px dotted #333;
    color:#009;
}

#cor{
    background-color:#FFF;
    border:1px dashed #333;
    padding:3px;
    width:50px;
    height:50px;
    margin:5px;
}

#lista_esportes{
    border:1px dashed #333;
    background-color:#EEE;
    padding:20px;
    margin:20px 0;
    width:fit-content;
}

#lista_esportes > legend{
    padding:5px;
    border:1px dashed #333;
    font-weight:bold;
    font-variant: small-caps;
    background-color:#CCC;
    border-radius:10px 10px 0 0;
}

#lista_esportes label{
    display:inline-block;
    margin-left:10px;
}